* {
	box-sizing: border-box;
	font-family: helvetica;
}

body {
	margin: 0;
}

a {
	text-decoration: none;
	color: inherit;
}

.loginPageContainer {
	text-align: center;
}

.loginContainer {
	display: inline-block;
	min-width: 350px;
	max-width: 400px;
	margin-top: 20vh;
	margin-bottom: 10vh;
	text-align: center;
	border: 1px solid #629ada;
	border-radius: 20px;
	box-shadow: 5px 5px 5px 0px rgba(35, 91, 146, 0.75);
	
	min-height: 450px;
}

.menuContainer {
	width: 100%;
}

.menu {
	width: 100%;
	padding: 10px;
	background-color: #c3c3c3;
	border: 1px solid #aaa;
	font-size: 18px;
	color: #fff;
}

.menuItem {
	max-height: 40px;
	min-height: 40px;
	min-width: 40px;
	padding: 10px;
	display:inline-block;
	vertical-align: middle;
	cursor: pointer;
}

.menuItem:hover {
	color: #56adcf;
}

.menuItemCurrent {
	color: #56adcf;
	font-weight: bold;
	text-shadow: none;
}

.contentContainer {
	width: 100%;
}

.logoContainer {
	min-height: 150px;
}

.logo {
	max-height: 80px;
}

.loginFormContainer {
	width: 100%;
}

.errorContainer {
	margin-top: 20px;
	margin-bottom: 20px;
}

.errorMessage {
	height: 2em;
	color: #ea2d2d;
	font-weight: bold;
	/* white-space: pre-wrap; */
	word-wrap: break-word;
}

.mainContainer {
	display: inline-block;
	max-width: 800px;
}

.center {
	text-align: center;
}

.formPane {
	min-width: 150px;
	max-width: 400px;
	vertical-align: top;
	padding: 20px;
}

.inlineBlock {
	display: inline-block;
}

.activityCreation > input, .activityCreation > label {
	display: inline-block;
}

#name, #activityTypeId {
	width: 260px;
}

#country {
	width: 80px;
}

form {
	display: inline-block;
	text-align: right;
	margin-top: 20px;
	margin-bottom: 20px;
}

select, input {
	width: 180px;
}

.formRow {
	width: 100%;
	min-width: 350px;
	margin-top: 10px;
	margin-bottom: 10px;
}

label {
	float: left;
}

label, input, select, button {
	padding: 8px;
	margin-top: 5px;
	margin-bottom: 5px;
}

input[type="submit"] {
	cursor: pointer;
}
