* {
	box-sizing: border-box;
	font-family: helvetica;
}

body {
	margin: 0;
	background-image: url('../img/background_running.jpg');
	background-attachment: fixed;
	background-position: bottom;
	min-height: calc(100vh - 102px);
}

a {
	text-decoration: none;
	color: inherit;
}

form {
	display: inline-block;
	text-align: right;
	margin-bottom: 20px;
	background-color: rgba(255, 255, 255, 0.9);
}

select, input {
	width: 180px;
}

label {
	float: left;
}

label, input, select, button, .fieldIndicator {
	padding: 8px;
	margin-top: 5px;
	margin-bottom: 5px;
}

input[type="submit"], button {
	cursor: pointer;
}

input[type="file"] {
	width: 250px;
}

table {
	border-collapse: collapse;
}

th {
	background-color: #ccc;
	position: sticky;
	top: 0;
}

th, td {
	text-align: center;
	padding: 10px;
}

tr:nth-child(even) {
	background-color: rgba(238, 238, 238, 0.9);
}
tr:nth-child(odd) {
	background-color: rgba(255, 255, 255, 0.9);
}

.activitesTable {
	margin-bottom: 50px;
}
	
.loginPageContainer {
	text-align: center;
}

.loginContainer {
	display: inline-block;
	min-width: 350px;
	max-width: 400px;
	margin-top: 20vh;
	margin-bottom: 10vh;
	text-align: center;
	border: 1px solid #629ada;
	border-radius: 20px;
	box-shadow: 5px 5px 5px 0px rgba(35, 91, 146, 0.75);
	min-height: 450px;
}

.header {
	margin-bottom: 50px;
	background-color: rgba(40, 40, 40, 0.9);
}

.menuContainer {
	width: 100%;
}

.menu {
	width: 100%;
	padding: 10px;
	font-size: 20px;
	color: #fff;
}

.menuItem {
	max-height: 40px;
	min-height: 40px;
	min-width: 40px;
	padding: 10px;
	display:inline-block;
	vertical-align: middle;
	cursor: pointer;
}

.menuItem:hover {
	color: #56adcf;
}

.menuItemCurrent {
	color: #56adcf;
}

.contentContainer {
	width: 100%;
}

.logoContainer {
	min-height: 150px;
}

.logo {
	max-height: 80px;
}

.loginFormContainer {
	width: 100%;
}

.infoMessage {
	height: 2em;
	color: #e49e1c;
	font-weight: bold;
	/* white-space: pre-wrap; */
	word-wrap: break-word;
}

.infoContainer, .errorContainer {
	margin-top: 20px;
	margin-bottom: 20px;
}

.errorMessage {
	height: 2em;
	color: #ea2d2d;
	font-weight: bold;
	/* white-space: pre-wrap; */
	word-wrap: break-word;
}

.mainContainer {
	display: inline-block;
	max-width: 1000px;
}

.center {
	text-align: center;
}

.formPane {
	min-width: 150px;
	max-width: 400px;
	vertical-align: top;
	padding: 20px;
}

.inlineBlock {
	display: inline-block;
}

.activityCreation > input, .activityCreation > label {
	display: inline-block;
}

#name, #activityTypeId {
	width: 260px;
}

#country {
	width: 80px;
}

.formRow {
	width: 100%;
	min-width: 350px;
	margin-top: 10px;
	margin-bottom: 10px;
}
