* {
	box-sizing: border-box;
	font-family: sans-serif, Helvetica;
}

body {
	margin: 0;
	background-image: url('../img/background_running.jpg');
	background-attachment: fixed;
	background-position: bottom;
	min-height: calc(100vh - 102px);
}

a {
	text-decoration: none;
	color: inherit;
}

form {
	display: inline-block;
	text-align: right;
}

select, input {
	width: 180px;
}

label, input, select, button, .fieldIndicator {
	padding: 8px;
	margin-top: 5px;
	margin-bottom: 5px;
}

input[type="submit"], button {
	cursor: pointer;
}

input[type="file"] {
	width: 380px;
	border: 2px solid grey;
	border-style: dashed;
	padding: 15px;
}

input[type="radio"] {
	height: 20px;
	vertical-align: middle;
}

table {
	border-collapse: collapse;
}

th {
	background-color: #ccc;
	position: sticky;
	top: -10px;
}

th, td {
	text-align: center;
	padding: 10px;
}

tr:nth-child(even) {
	background-color: rgba(238, 238, 238, 0.9);
}
tr:nth-child(odd) {
	background-color: rgba(255, 255, 255, 0.9);
}

.activitesTable {
	margin-bottom: 50px;
}
	
.loginPageContainer {
	text-align: center;
}

.loginContainer {
	display: inline-block;
	min-width: 350px;
	max-width: 400px;
	margin-top: 20vh;
	margin-bottom: 10vh;
	text-align: center;
	border: 1px solid #629ada;
	border-radius: 20px;
	box-shadow: 5px 5px 5px 0px rgba(35, 91, 146, 0.75);
	min-height: 450px;
}

.formPart {
	background-color: rgba(255, 255, 255, 0.9);
	padding: 20px;
	margin-bottom: 20px;
	max-height: 350px;
	transition: ease all 0.5s;
	overflow: hidden;
	opacity: 1;
}

.formPartActions {
	position: relative;
	margin-bottom: 0px;
}

.formPartHidden {
	max-height: 0px;
	margin: 0px;
	padding: 0px;
	opacity: 0;
}

.formLabelLeft {
	float: left;
}

.header {
	background-color: rgba(40, 40, 40, 0.9);
}

.menuContainer {
	width: 100%;
}

.menu {
	width: 100%;
	padding: 10px;
	font-size: 20px;
	color: #fff;
}

.menuItem {
	max-height: 40px;
	min-height: 40px;
	min-width: 40px;
	padding: 10px;
	display:inline-block;
	vertical-align: middle;
	cursor: pointer;
}

.menuItem:hover {
	color: #56adcf;
}

.menuItemCurrent {
	color: #56adcf;
}

.contentContainer {
	width: 100%;
}

.logoContainer {
	min-height: 150px;
}

.logo {
	max-height: 80px;
}

.logoBig {
	max-height: 150px;
	display: inline-block;
}

.loginFormContainer {
	width: 100%;
}

.errorContainer {
	max-width: 600px;
	display: inline-block;
}

.errorMessage {
	height: 2em;
	color: #ea2d2d;
	font-weight: bold;
	/* white-space: pre-wrap; */
	word-wrap: break-word;
	margin-right: 20px;
}

.loadingBarContainer {
	width: 100%;
	position: absolute;
    bottom: 0px;
    left: 0px;
}

.loadingBar {
	height: 10px;
	background-color: #56adcf;
	transition: ease width 0.2s;
}

.messageBox {
	display: inline-block;
	vertical-align: top;
	margin-top: 20px;
}

.mainContainer {
	width: 100%;
	display: inline-block;
	max-width: 1000px;
	text-align: left;
}

.activityCreationContainer {
	text-align: center;
}

.notFoundContainer {
	background-color: rgba(255, 255, 255, 0.9);
	padding: 20px;
}

.center {
	overflow-y: auto;
	height: calc(100vh - 100px);
	padding-top: 10px;
	text-align: center;
}

.inlineBlock {
	display: inline-block;
}

.activityCreation > input, .activityCreation > label {
	display: inline-block;
}

#name, #activityTypeId {
	width: 260px;
}

#country {
	width: 80px;
}

.formRow {
	position: relative;
	min-width: 400px;
	max-height: 100px;
    padding-left: 20px;
    padding-right: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
	transition: ease all 0.5s;
	overflow: hidden;
}

.formRowRadio {
	text-align: left;
}

.formRowActions {
	padding: 0px;
	margin-bottom: 0px;
}

.formRowHidden {
	max-height: 0px;
	overflow: hidden;
	padding-left: 0px;
    padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
}

.googleMaps {
	display: inline-block;
	min-height: 400px;
	width: 70%;
	margin-bottom: 20px;
	margin-right: 20px;
}

.activityTitle {
	font-weight: bold;
	font-size: 20px;
	color: #56adcf;
	margin-bottom: 20px;
	/* text-shadow: 1px 1px 2px black; */
}

.activityPageContainer {
	width: 100%;
	padding: 50px;
	background-color: rgba(255, 255, 255, 0.9);
}

.activityStatTableTitle {
	font-size: 20px;
	margin-bottom: 20px;
}

.activityStatTable {
	white-space: nowrap
}

.activityStatTable td {
	padding-right: 5px;
	padding-left: 5px;
}

.activityStatTableContainer {
	width: 100%;
	overflow-x: auto;
	border: 1px solid grey;
}

.statPaneTitle {
	font-size: 20px;
	font-weight: bold;
	color: #56adcf;
	margin-bottom: 10px;
}

.activityStatPane {
	display: inline-block;
	width: 250px;
	vertical-align: top;
	margin-bottom: 40px;
}

.activityStatPane > div {
	padding-bottom: 10px;
}

@media (max-width: 1010px) {
	input[type="radio"] {
		width: 100px;
	}
	input[type="file"] {
		width: 200px;
	}
}

@media (max-width: 1010px) {
	.googleMaps {
		width: 100%;
	}
}